body {
    height:100%; 
    font-family: 'Courier', Courier, monospace; 
    overflow: hidden; 
    }

* {
    box-sizing: border-box;
  }
  
  .header {
    position: fixed;
    max-width: 550px;
    margin-left: 230px;
    padding-right: 15px;
    padding-left: 10px;
  }
  a:link {
    color:inherit;
    text-decoration: underline;
  }

  .plinks a{
    line-height: 1.8;
  }

  .sidenav {
    height: 100%;
    max-width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .sidenav a {
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .sidenav p {
      padding-left: 16px;
  }

  .sidenav h3 {
      padding-left: 5px;
  }

  .content {
    height: 100%;
    max-width: 550px;
    margin-left: 230px;
    margin-top: 180px;
    position: fixed;
    padding-right: 15px;
    padding-left: 10px;
    overflow-x: hidden;
  }

  .update-date {
    display: block;
    float: left;
  }

  img {
    padding: 5px;
    width: 100%;
    height: auto;
  } 
 
  a, a:visited{ 
    color: black;
  }

  .contact {
    font-size: 100%;
  }

  .contact-mobile{
    display: none;
  }
  @media screen and (max-width: 650px) {
    .sidenav {width: 140px}
    .content {margin-left: 140px; padding-left: 3px;}
    .acontent {margin-left: 140px; padding-left: 3px;}
    .header {margin-left: 140px; padding-left: 3px;}
    .sidenav p {padding-left: 3px;}
    .sidenav h3 {padding-left: 3px;} 
    .sidenav a {padding-left: 3px;} 
    img {padding: 3px;}
    .contact-mobile{display: block;}
    .contact-desktop{display: none;}
    h1{font-size: 110%;}
  }
