body {
  background-color: whitesmoke;
  color: black;
  height:100%; 
  max-width: 600px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Courier', Courier, monospace; 
  /*font-family: 'Share Tech Mono', monospace;*/
  font-family: 'Cutive Mono', monospace;
  }

.header {
  margin: auto;
}

.content {
  margin: auto;
}

.contact {
  margin: auto;
}

img {
  float: left;
  padding: 5px;
  margin-right: 8px;
  width: 190px;
  height: auto;
  border: 1px solid black;
} 


a:link {
  color:inherit;
  text-decoration: underline;
}

.plinks a{
  line-height: 1.8;
}

.contact-mobile{
  display: none;
}

@media screen and (max-width: 650px) {
  .contact-mobile{display: block;}
  .contact-desktop{display: none;}
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: black;
    color: lightgrey;
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }

}